<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Forum</title>
        <link type="text/css" href=".\assets\css/index.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script type="text/javascript" src="assets/Js/script.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/css/axentix.min.css">
        <script src="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/js/axentix.min.js"></script>
        <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

  <body class="layout with-sidenav fixed-sidenav">
    <header>
      <nav class="navbar primary">
        <div class="topnav centered">
            <div class="search-container">
                <form action="/action_page.php"> 
                <input type="text" placeholder="Search.." name="search" id="search">
                <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
      </nav>
    </header>

    <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
      <div class="sidenav-header">
        <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
        <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
      </div>
      <a href="#" class="sidenav-link active">Accueil</a>
      <a href="#" class="sidenav-link">Profil</a>
      <a href="#" class="sidenav-link">Amis</a>
      <div class="nbrco">(nombre de connections)</div>
    </div>

    <main>
      <!-- Code here the main content -->
      <button data-target="example-sidenav"
        class="btn rounded-1 press sidenav-trigger hide-md-up">
          Open sidenav
      </button>
            <div class="grix xs8 md12" id="grixcontain">
                <div class="col-xs3 col-md3"></div> 
                <div class="col-xs2 col-md2 grixfilter" id="grixfilter">
                    <button data-target="example-collapsible" class="col-xs2 col-md2 btn rounded-1 press collapsible-trigger mx-auto" id="filter">
                        Filter
                      </button>
                      <div class="collapsible" id="example-collapsible" data-ax="collapsible">
                        <div class="primary filter">
                            <div class="grix xs12">
                                <a href="#" class="col-xs12 filter1">filtre1</a>
                                <a href="#" class="col-xs12 filter1">filtre2</a>
                                <a href="#" class="col-xs12 filter1">filtre3</a>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-xs3 col-md7"></div>
            </div>
            <div class="grix xs8 md12">
                <div class="col-xs1" id="grixdelete"></div> 
                <div class="col-xs6 col-md8">
                    <div class="grix" id="grix">
                        <div class="col-xs4 col-md8" id="grixTop">
                            <div class="titre1">Titre</div>
                            <div class="titre2">Publié par</div>
                            <div class="titre3">Nombre de like</div>
                        </div> 
                        <div class="col-xs4 col-md8" id="grixforum">
                            <div class="grix xs1">
                                <div id="PostsContent">
                                    <div class="grix xs12 containe">
                                        <div class="col-xs1">
                                            {{range .Posts}}
                                        </div>
                                        <div class="col-xs10 PostsContainer" id="{{.ID}}">
                                            <div class="grix xs12 containe">
                                                <p class="col-xs4 for">{{.Title}}</p>
                                                <p class="col-xs4 for2">Publié par : {{.Autor}}</p>
                                                <p class="col-xs4 for3">Nombre de likes : {{.NbrLikes}}</p>
                                            </div>
                                        </div>
                                        <div>
                                        {{end}}
                                        </div>
                                    </div>
                                </div>
                                    <div id="PostsContent">
                                        <div class="grix xs12 containe">
                                            <div class="col-xs1">
                                                {{range .Posts}}
                                            </div>
                                            <div class="col-xs10 PostsContainer" id="{{.ID}}">
                                                <div class="grix xs12 containe">
                                                    <p class="col-xs4 for">{{.Title}}</p>
                                                    <p class="col-xs4 for2">Publié par : {{.Autor}}</p>
                                                    <p class="col-xs4 for3">Nombre de likes : {{.NbrLikes}}</p>
                                                </div>
                                            </div>
                                            <div>
                                            {{end}}
                                            </div>
                                        </div>
                                    </div>
                                <!-- <div id="PostsContent">
                                    {{range .Posts}}
                                    <div class="PostsContainer" id="{{.ID}}">
                                        <p class="for">{{.Title}}</p>
                                        <p class="for">Publié par : {{.Autor}}</p>
                                        <p class="for">Nombre de likes : {{.NbrLikes}}</p>
                                    </div>
                                    {{end}}
                                </div> -->
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-xs1" id="grixdelete"></div> 
                <div class="col-xs2" id="grixdelete"></div> 
                <div class="col-xs4" id="grixactu">
                    <h3>Actualités</h3>
                    <div class="actu" id="actu">
                        <h3>Topics du moment</h3>
                        <div class="actu1">
                            <p>League Of Legends</p>
                            <p><span class="TrackedStuff">(420 Poste)</span></p>
                        </div>
                        <div class="actu2">
                            <p>Réaliser un forum en go</p>
                            <p><span class="TrackedStuff">(69 Postes)</span></p>
                        </div>
                    </div>
                    <div class="ami">
                        <div class="ami1">
                            <p>Ami 1 a crée un poste sur <span class="TrackedStuff">Jeux Vidéos</span> il y a <span class="TrackedStuff">2 seconde</span></p>
                        </div>
                        <div class="ami2">
                            <p>Ami 2 a aimé votre poste <span class="TrackedStuff">Sur que pensez vous du design du site ?</span></p>
                        </div>
                    </div>
                    <div class="chatbox">
                        <button class="chat collapsible-trigger" data-target="example-">Message</button>
                        <div class="collapsible chatbox2" id="example-" data-ax="collapsible">
                            <button class="chat2 collapsible-trigger" data-target="example-">Message</button>
                            <div class="textbox">
                                <div class="Status">
                                    <p><img src="#" height="30px" width="30px">Ami 1</p>
                                    <p><img src="#" height="10px" width="10px">En ligne</p>
                                </div>
                                <p>DES CHAT BOX QUI NE FONCTIONNENT PAS</p>
                            </div>
                            <div class="textbox">
                                <div class="Status">
                                    <p><img src="#" height="30px" width="30px">Ami 1</p>
                                    <p><img src="#" height="10px" width="10px">En ligne</p>
                                </div>
                                <p>DES CHAT BOX QUI NE FONCTIONNENT PAS</p>
                            </div>
                            <div class="textbox">
                                <div class="Status">
                                    <p><img src="#" height="30px" width="30px">Ami 1</p>
                                    <p><img src="#" height="10px" width="10px">En ligne</p>
                                </div>
                                <p>DES CHAT BOX QUI NE FONCTIONNENT PAS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
    </main>

    <footer class="footer primary">
        <marquee>
            Copyright © 2021 - Example
            <img src="#" height="30px" width="30px"> INFORMATION CORONAVIRUS, COVID-19. PROTÉGEONS-NOUS LES UNS LES AUTRES. Se laver régulièrement les mains ou utiliser une solution hydroalcoolique, Tousser ou éternuer dans son coude ou dans un mouchoir,
            Se moucher dans un mouchoir à usage unique, Portez un masque chirurgical ou en tissu de catégorie 1 quand la distance de deux mètres ne peut pas être respectée, Respecter une distance d’au moins deux mètres avec les autres, Limiter au maximum
            ses contacts sociaux (6 maximum), Eviter de se toucher le visage, Aérer les pièces le plus souvent possible, au minimum quelques minutes toutes les heures, Saluer sans serrer la main
            et arrêter les embrassades, Utiliser les outils numériques (TousAntiCovid). Pour plus d'informations retrouver nous sur le site internet ou appeler au numero suivants: https://www.gouvernement.fr/info-coronavirus / 0 800 130 000 (appel gratuit)
        </marquee>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axentix@1.3.0/dist/js/axentix.min.js"></script>
  </body>
</html>